<app-body></app-body>

<section id="sistema-ya">
  <div class="container">
    <img src="assets/Soporte.jpg" alt="">
    <div class="img-container">
    </div>
    <div class="texto">
      <h2>
        Ofrecemos <span class="color-acento">cambios constantes</span>
      </h2>
      <p>
        En nuestra plataforma, entendemos la importancia de mantenerte actualizado con las últimas tendencias y cambios.
        Por ello, te ofrecemos actualizaciones continuas que te permiten estar al día con tus actividades diarias.
        Estos cambios están diseñados para mejorar la eficiencia y facilitar el uso del sistema, asegurando que siempre
        tengas acceso a las herramientas y funciones más recientes. Con nuestro enfoque en la innovación y la mejora
        continua, puedes estar seguro de que tu experiencia será cada vez más ágil y efectiva.
      </p>
    </div>
  </div>
</section>

<section id="mas-populares">
  <div class="container">
    <h2>Servicios</h2>
    <div class="programas">
      <div class="carta">
        <h3>Registro Rápido</h3>
        <p>
          Nuestro sistema de registro rápido te permite crear tu cuenta en
          minutos. Con un proceso simplificado y fácil de seguir, podrás
          completar tu inscripción sin complicaciones, permitiéndote
          acceder a todas las funcionalidades de nuestra plataforma sin
          demoras.
        </p>
        <button>+ Info</button>
      </div>
      <div class="carta">
        <h3>Autenticación Segura</h3>
        <p>
          La autenticación segura garantiza que tus datos estén protegidos
          en todo momento. Utilizamos métodos avanzados de seguridad para
          asegurar que solo tú puedas acceder a tu cuenta, brindándote
          tranquilidad y protección contra accesos no autorizados.
        </p>
        <button>+ Info</button>
      </div>
      <div class="carta">
        <h3>Recuperación de Contraseña</h3>
        <p>
          Si olvidas tu contraseña, nuestro sistema de recuperación es
          fácil de usar y eficiente. Simplemente sigue unos pasos rápidos
          para restablecer tu contraseña y recuperar el acceso a tu cuenta
          sin estrés, asegurando que puedas volver a utilizar el sistema
          sin inconvenientes.
        </p>
        <button>+ Info</button>
      </div>
      <div class="carta">
        <h3>Registro de Cursos y Estudiantes</h3>
        <p>
          Permite gestionar su información académica de manera
          eficiente y organizada, optimizando la administración y asegurando que
          todos los datos estén actualizados y accesibles para una mejor
          planificación y seguimiento.
        </p>
        <button>+ Info</button>
      </div>
     
    </div>
  </div>
</section>
