<body>
    <h4>Sistema de registro estudiantil</h4>
    <div class="container">
        <div class="card">
          <img src="assets/alumnos.jpg" alt="imagen" />
        </div>
        <div class="card">
          <img src="assets/profesor.jpg" alt="imagen" />
        </div>
        <div class="card">
          <img src="assets/alumnos4.jpg" alt="imagen" />
        </div>
        <div class="card">
          <img src="assets/alumnos2.jpg" alt="imagen" />
        </div>
        <div class="card">
          <img src="assets/alumnos3.jpg" alt="imagen" />
        </div>
    </div>
</body>