/* Estilo de la barra de navegación */
.navbar {
    font-family: 'Arial', sans-serif;
    letter-spacing: 1px;
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    margin-right: auto;
    text-align: center;
    width: 10%;
    transition: color 0.3s ease, transform 0.3s ease;
}

.navbar-brand:hover {
    color: #f8f9fa; /* Cambia este color según tu diseño */
    transform: scale(1.3); /* Aumenta el tamaño del texto en hover */
}

.container-fluid {
    justify-content: center;
}

.nav-link {
    color: #ffffff !important;
    transition: color 0.3s ease, transform 0.3s ease;
}

.nav-link:hover {
    color: #ff6347 !important; 
    transform: scale(1.1); 
}

.btn-danger {
    border-radius: 20px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn-danger:hover {
    background-color: #d9534f;
    transform: scale(1.1);
}
