<div class="container-fluid d-flex justify-content-center align-items-center" style="background-image: url('/assets/alumnos3.jpg'); background-size: cover; background-position: center; background-repeat: no-repeat; height: 100vh;">
    <div class="col-4">
        <div class="card shadow">
            <div class="card-body">
                <form>
                    <div class="mb-3">
                        <h4 class="text-dark text-muted">Has olvidado tu contraseña</h4>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Correo</label>
                        <input type="email" class="form-control" name="email" [(ngModel)]="email">                       
                    </div>                      
                    <button type="button" class="btn btn-info" (click)="forgotPassword()">Enviar link</button>
                    <div class="row mt-3">
                        <div class="col-md-12 text-center">
                            <a href="/login" style="text-decoration: none;">Volver a <span class="text-danger">Login</span></a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
